node_modules

# Docker related
.docker
docker-compose.override.yml
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker build artifacts
**/dist
**/build
**/.next
**/.nuxt

# pnpm
.pnpm-debug.log*
.pnpm-store/
node_modules/