node_modules

# Docker related
.docker
docker-compose.override.yml
# Environment variables
.env
.env.local
.env.*.local

# Docker build artifacts
**/dist
**/build
**/.next
**/.nuxt

# pnpm
.pnpm-debug.log*
.pnpm-store/
node_modules/